@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Fjord+One&family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Timmana&family=Varela+Round&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  font-family: "Old Standard TT", serif;
  margin: auto;
  background-color: #fffdfe;
}

header {
  width: 100%;
  height: 80px;
  background-color: #CEEEE8;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.logo img {
  width: 60px;
  padding-top: 10px;
}

li {
  display: inline-block;
  margin: 20px;
}

a {
  color: #BA9955;
  font-weight: 500;
  font-family: "Old Standard TT", serif;
  font-size: 20px;
}

a:hover {
  color: #e5c88c;
  transition: 0.3s all;
}

.icons-header img {
  margin: 10px;
}

.secao-masculina img{
    width: 100%;
}

.categorias {
  width: 100%;
  height: 480px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.categorias h1 {
  color: #BA9955;
  font-weight: 500;
  font-family: "Old Standard TT", serif;
  font-size: 32px;
  padding-top: 20px;
}

.align-imgs {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 20px;
}

.align-imgs img {
  width: 180px;
}

.align-imgs img:hover {
  background-color: #d4b575;
  transition: 0.6s all;
  border-radius: 50%;
}

.feminino, .masculino, .saltos, .infantil, .sapatilhas {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.align-buy{
  height: 280px;
  padding-bottom: 140px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.align-squares {
  display: flex;
  flex-direction: column;
}

.crown {
  display: flex;
  padding-top: 5px;
  margin-left: 200px;
}

.square-buy {
  background-color: #F4F2F2;
  width: 246.34px;  
  height: 200px;
  margin-top: 20px;
  align-items: center;
}

.align-sapato img {
  width: 180px;
  height: 140px;
  margin-left: 35px;
}

.square-buy-two {
  margin-top: 10px;
  background-color: #F4F2F2;
  height: 30px;
  width: 246px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.square-buy-two h1 {
  font-family: 'AmstelvarAlpha';
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #886F3C;
}

footer {
  width: 100%;
  height: 430px;
  background: linear-gradient(180deg, #ECFFFB, #CEEEE8, #89CBBF);
  display: flex;
  justify-content: space-around;
}

footer li {
  color: #74bbb5;
  margin: 20px;
  font-family: "Fjord One", serif;
  font-weight: 500;
  font-size: 30px;
}

hr {
  width: 290px;
  margin-left: 10px;
}

.tel-footer,
.whats-footer,
.insta-footer,
.local-footer,
.carta-footer {
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  color: #729491;
  display: flex;
  padding-top: 19px;
  padding-left: 8px;
  gap: 10px;
}

.tel-footer img,
.whats-footer img,
.insta-footer img,
.local-footer img,
.carta-footer img {
  width: 45px;
  display: flex;
  padding-left: 10px;
}

.tel-footer p,
.whats-footer p,
.insta-footer p,
.local-footer p,
.carta-footer p {
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 16px;
  color: white;
  display: flex;
  padding-top: 14px;
  font-weight: 500;
  font-style: normal;
}

.menu-footer p {
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 16px;
  color: white;
  padding-top: 24px;
  font-weight: 500;
  font-style: normal;
}

.menu-footer ul p {
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 16px;
  color: #9bded0;
  padding-top: 24px;
  font-weight: 500;
  font-style: normal;
}

.location-footer img {
  width: 20%;
  display: flex;
  padding-top: 19px;
  padding-left: 8px;
}

iframe {
  width: 100%;
  height: 40%;
  box-shadow: 0px 0px 0px 5px #89CBBF;
}