@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Fjord+One&family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Timmana&family=Varela+Round&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    width: 100%;
    font-family: "Old Standard TT", serif;
    margin: auto;
  }
  
  header {
    width: 100%;
    height: 80px;
    background-color: #E3F1FD;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  
  .logo img {
    width: 60px;
    padding-top: 10px;
  }
  
  li {
    display: inline-block;
    margin: 20px;
  }
  
  a {
    color: #BA9955;
    font-weight: 500;
    font-family: "Old Standard TT", serif;
    font-size: 20px;
  }
  
  a:hover {
    color: #ebc67c;
    transition: 0.3s all;
  }

  .icons-header img{
    margin: 10px;
  }
  