@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Fjord+One&family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Timmana&family=Varela+Round&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  font-family: "Old Standard TT", serif;
  margin: auto;
  background-color: #F9FCFF;
}

header {
  width: 100%;
  height: 80px;
  background-color: #E3F1FD;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.logo img {
  width: 60px;
  padding-top: 10px;
}

li {
  display: inline-block;
  margin: 20px;
}

a {
  color: #BA9955;
  font-weight: 500;
  font-family: "Old Standard TT", serif;
  font-size: 20px;
}

a:hover {
  color: #e5c88c;
  transition: 0.3s all;
}

.icons-header img {
  margin: 10px;
}

.slideshow-container {
  position: relative;
  margin: auto;
}

.mySlides {
  display: none;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
  color: #e2f4f8;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}

.categorias {
  width: 100%;
  height: 480px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.categorias h1 {
  color: #BA9955;
  font-weight: 500;
  font-family: "Old Standard TT", serif;
  font-size: 32px;
  padding-top: 20px;
}

.align-imgs {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 20px;
}

.align-imgs img {
  width: 180px;
}

.align-imgs img:hover {
  background-color: #d4b575;
  transition: 0.6s all;
  border-radius: 50%;
}

.feminino, .masculino, .saltos, .infantil, .sapatilhas {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.align-buy{
  height: 320px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.align-squares {
  display: flex;
  flex-direction: column;
}

.crown {
  display: flex;
  padding-top: 5px;
  margin-left: 200px;
}

.square-buy {
  background-color: #F4F2F2;
  width: 246.34px;  
  height: 200px;
  margin-top: 20px;
  align-items: center;
}

.align-sapato img {
  width: 180px;
  height: 140px;
  margin-left: 35px;
}

.square-buy-two {
  margin-top: 20px;
  background-color: #F4F2F2;
  height: 30px;
  width: 246px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.square-buy-two h1 {
  font-family: 'AmstelvarAlpha';
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #886F3C;
}

.align-store {
  width: 100%;
  height: 430px;
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.text-store h1{
  background-image: url(/img/fita-xadrez.svg);
  width: 450px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'AmstelvarAlpha';
  font-weight: 400;
  font-size: 40px;
  line-height: 19px;
  color: #AD8A42;
}

.text-store p{
  font-family: 'AmstelvarAlpha';
  font-weight: 500;
  font-size: 22px;
  width: 500px;
  padding-top: 70px;
  line-height: 30px;
  color: #AD8A42;
}

.align-store img{
  width: 400px;
  height: 350px;
}

footer {
  width: 100%;
  height: 430px;
  background: linear-gradient(180deg, #F0F8FF, #D5D5F1, #B5B5B5);
  display: flex;
  justify-content: space-around;
}

footer li {
  color: #7F7FA1;
  margin: 20px;
  font-family: "Fjord One", serif;
  font-weight: 500;
  font-size: 30px;
}

hr {
  width: 290px;
  margin-left: 10px;
}

.tel-footer,
.whats-footer,
.insta-footer,
.local-footer,
.carta-footer {
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  color: #7F7FA1;
  display: flex;
  padding-top: 19px;
  padding-left: 8px;
  gap: 10px;
}

.tel-footer img,
.whats-footer img,
.insta-footer img,
.local-footer img,
.carta-footer img {
  width: 45px;
  display: flex;
  padding-left: 10px;
}

.tel-footer p,
.whats-footer p,
.insta-footer p,
.local-footer p,
.carta-footer p {
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 16px;
  color: white;
  display: flex;
  padding-top: 14px;
  font-weight: 500;
  font-style: normal;
}

.menu-footer p {
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 16px;
  color: white;
  padding-top: 24px;
  font-weight: 500;
  font-style: normal;
}

.menu-footer ul p {
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 16px;
  color: #7b7ba5;
  padding-top: 24px;
  font-weight: 500;
  font-style: normal;
}

.location-footer img {
  width: 20%;
  display: flex;
  padding-top: 19px;
  padding-left: 8px;
}

iframe {
  width: 100%;
  height: 40%;
  box-shadow: 0px 0px 0px 5px #b1b1df;
}

@media (max-width: 420px) {

  header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  a {
    display: none;
  }

  .icons-header img {
    display: none;
  }

  .categorias {
    margin-top: 300px;
    width: 100%;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  .categorias h1 {
    padding-top: 150px;
  }
  
  .align-imgs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding-top: 20px;
  }
  
  .align-imgs img {
    width: 100px;
    display: flex;
    flex-direction: column;
  }
  
  .feminino, .masculino, .saltos, .infantil, .sapatilhas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .align-buy{
    height: 1000px;
    margin-top: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  .align-store {
    margin-top: 330px;
    display: flex;
    flex-direction: column-reverse;
    gap: 30px;
  }

  .text-store p{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 400px;
    padding-top: 40px;
    margin-left: 25px;
  }

  footer {
    height: 400px;
    margin-top: 50px;
  }
  
  footer li {
    margin: 10px;
    font-size: 20px;
  }
  
  .tel-footer p,
  .whats-footer p,
  .insta-footer p,
  .local-footer p,
  .carta-footer p {
    font-family: "Fira Sans Condensed", sans-serif;
    font-size: 14px;
    color: white;
    display: flex;
    padding-top: 14px;
    font-weight: 500;
    font-style: normal;
  }

}